/* Basics */
.foo_yc20 {
  position: relative;
  width: 1280px;
  height: 200px;
}
.foo_yc20 .foo_yc20_main, .foo_yc20 .foo_yc20_info {
  position: absolute;
  top: 0;
  left: 0;
  width: 1280px;
  height: 200px;
}

/* Image assets */

.foo_yc20_color_black .foo_yc20_main  {
  background-image: url('../graphics/background-black.png');
}
.foo_yc20_color_blue .foo_yc20_main  {
  background-image: url('../graphics/background-blue.png');
}
.foo_yc20_color_red .foo_yc20_main  {
  background-image: url('../graphics/background-red.png');
}
.foo_yc20_color_white .foo_yc20_main  {
  background-image: url('../graphics/background-white.png');
}

.foo_yc20 .foo_yc20_info {
  background-image: url('../graphics/license.png');
}

.foo_yc20 .foo_yc20_main .foo_yc20_potentiometer { background-image: url('../graphics/potentiometer.png'); }

.foo_yc20 .foo_yc20_main .foo_yc20_slider_white[foo-yc20-control-state="0"] { background-image: url('../graphics/white_0.png'); }
.foo_yc20 .foo_yc20_main .foo_yc20_slider_white[foo-yc20-control-state="1"] { background-image: url('../graphics/white_1.png'); }
.foo_yc20 .foo_yc20_main .foo_yc20_slider_white[foo-yc20-control-state="2"] { background-image: url('../graphics/white_2.png'); }
.foo_yc20 .foo_yc20_main .foo_yc20_slider_white[foo-yc20-control-state="3"] { background-image: url('../graphics/white_3.png'); }

.foo_yc20 .foo_yc20_main .foo_yc20_slider_black[foo-yc20-control-state="0"] { background-image: url('../graphics/black_0.png'); }
.foo_yc20 .foo_yc20_main .foo_yc20_slider_black[foo-yc20-control-state="1"] { background-image: url('../graphics/black_1.png'); }
.foo_yc20 .foo_yc20_main .foo_yc20_slider_black[foo-yc20-control-state="2"] { background-image: url('../graphics/black_2.png'); }
.foo_yc20 .foo_yc20_main .foo_yc20_slider_black[foo-yc20-control-state="3"] { background-image: url('../graphics/black_3.png'); }

.foo_yc20 .foo_yc20_main .foo_yc20_slider_green[foo-yc20-control-state="0"] { background-image: url('../graphics/green_0.png'); }
.foo_yc20 .foo_yc20_main .foo_yc20_slider_green[foo-yc20-control-state="1"] { background-image: url('../graphics/green_1.png'); }
.foo_yc20 .foo_yc20_main .foo_yc20_slider_green[foo-yc20-control-state="2"] { background-image: url('../graphics/green_2.png'); }
.foo_yc20 .foo_yc20_main .foo_yc20_slider_green[foo-yc20-control-state="3"] { background-image: url('../graphics/green_3.png'); }

/* Control layout */

.foo_yc20 .foo_yc20_main .foo_yc20_potentiometer {
  position: absolute;
  top: 7.5%;
  width: 5.625%;
  height: 45%;
  cursor: pointer;
}

.foo_yc20 .foo_yc20_main .foo_yc20_potentiometer .foo_yc20_potentiometer_line svg {
  position: absolute;
  top: 8%;
  left: 0%;
}

.foo_yc20 .foo_yc20_main .foo_yc20_slider {
  position: absolute;
  top: 7.5%;
  width: 3.125%;
  height: 45%;
  cursor: pointer;
}

.foo_yc20 .foo_yc20_main *[foo-yc20-control=pitch]       { left:  1.20%; }
.foo_yc20 .foo_yc20_main *[foo-yc20-control=volume]      { left:  8.35%; }
.foo_yc20 .foo_yc20_main *[foo-yc20-control=bass-volume] { left:  15.55%; }

.foo_yc20 .foo_yc20_main *[foo-yc20-control=realism]     { right: 73.25%; }
.foo_yc20 .foo_yc20_main *[foo-yc20-control=vibrato]     { right: 69.63%; }
.foo_yc20 .foo_yc20_main *[foo-yc20-control=speed]       { right: 66.00%; }

.foo_yc20 .foo_yc20_main *[foo-yc20-control=b-16]        { right: 61.48%; }
.foo_yc20 .foo_yc20_main *[foo-yc20-control=b-8]         { right: 57.85%; }
.foo_yc20 .foo_yc20_main *[foo-yc20-control=bass]        { right: 54.23%; }

.foo_yc20 .foo_yc20_main *[foo-yc20-control=i-16]        { right: 49.70%; }
.foo_yc20 .foo_yc20_main *[foo-yc20-control=i-8]         { right: 46.08%; }
.foo_yc20 .foo_yc20_main *[foo-yc20-control=i-4]         { right: 42.45%; }
.foo_yc20 .foo_yc20_main *[foo-yc20-control=i-2_23]      { right: 38.83%; }
.foo_yc20 .foo_yc20_main *[foo-yc20-control=i-2]         { right: 35.20%; }
.foo_yc20 .foo_yc20_main *[foo-yc20-control=i-1_35]      { right: 31.58%; }
.foo_yc20 .foo_yc20_main *[foo-yc20-control=i-1]         { right: 27.95%; }

.foo_yc20 .foo_yc20_main *[foo-yc20-control=balance]     { right: 24.17%; }
.foo_yc20 .foo_yc20_main *[foo-yc20-control=bright]      { right: 20.40%; }

.foo_yc20 .foo_yc20_main *[foo-yc20-control=ii-16]       { right: 16.40%; }
.foo_yc20 .foo_yc20_main *[foo-yc20-control=ii-8]        { right: 12.77%; }
.foo_yc20 .foo_yc20_main *[foo-yc20-control=ii-4]        { right:  9.13%; }
.foo_yc20 .foo_yc20_main *[foo-yc20-control=ii-2]        { right:  5.50%; }

.foo_yc20 .foo_yc20_main *[foo-yc20-control=percussive]  { right: 1.675%; }
